variables:
  ARTIFACT_NAME: order-api-1.0.$CI_PIPELINE_IID.jar

stages:
  - test
  - build
  - functest
  - deploy

unit tests:
  stage: test
  image: openjdk:12-alpine
  script:
    - ./mvnw test

integration tests:
  stage: test
  image: openjdk:12-alpine
  script:
    - ./mvnw verify -DskipUTs=true

build a jar:
  stage: build
  image: openjdk:12-alpine
  script:
    - ./mvnw package -Dmaven.test.skip=true
    - mkdir ./build
    - mv target/order-api-1.0.0.jar ./build/$ARTIFACT_NAME
  artifacts:
    paths:
      - ./build

functional testing:
  stage: functest
  image: alexvaitsekhovich/alpine-jre-newman
  script:
    - java -jar -Dspring.profiles.active=testing ./build/$ARTIFACT_NAME &
    - sleep 40
    - newman run src/main/resources/testing_data/functional_testing.postman_collection.json
  dependencies:
    - build a jar

deploy to dockerhub:
  stage: deploy
  image: alpine
  script:
    - echo "deploy"
  only:
    - master